@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* ==================BASE==================== */
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* ===============HEADER=================== */
.header {
    overflow: hidden;
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom-right-radius: 100px;
    color: antiquewhite;
    background: #252525 linear-gradient(158deg, #2f2f2f 0%, #202020 100%);
}
.header .container {
    position: relative;
    z-index: 9;
}
.header-video {
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
object-fit: cover;
object-position: center;
opacity: 0.2;
}
.header-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 60px;
}
.header-img {
    border-radius: 80px;
}
.header-title {
    font-weight: 700;
    font-size: 60px;
    margin-bottom: 10px;
}
.header-text {
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 26px;
}
.header-btns {
    display: flex;
    column-gap: 20px;
}

.btn {
    background-color: #000;
    border-radius: 8px;
    height: 48px;;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
    color: #fff;
    line-height: 1;
    transition: all 0.2s ease-in;
}
.btn:hover {
    background-color: #1782CF;
}

.btn-outline {
        border-radius: 8px;
        border: 1px solid #3B3B3B;
        height: 48px;
        padding-top: 15px;
        padding-left: 25px;
        padding-right: 25px;
        color: #fff;
        line-height: 1;
        transition: all 0.2s ease-in;
}
.btn-outline:hover {
    border-color: #1782CF;
}
/* ============PORTFOLIO============ */
.portfolio {
    padding: 80px 0;
}
.portfolio-title {
    font-size: 52px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 65px;
}
.projects {
display: flex;
flex-direction: column;
row-gap: 70px;
align-items: center;

}
.project {
    text-align: center;
}
.project-img {
border-radius: 30px;
margin-bottom: 30px;
transition: opacity 0.2s ease-in;
}
.project-img:hover {
    opacity: 0.8;
}
.project-title {
    font-size: 22px;
}
.project-title a {
color: #000;
text-decoration: underline;
}
/* =============CONTACS==================== */
.contacts {
    background-color: #252525;
    border-top-left-radius: 100px;
    color: #fff;
    padding: 80px 0;

}

.contacts-title {
    margin-bottom: 65px;
    text-align: center;
    font-weight: 700;
    font-size: 52px;

}

.messangers {
display: flex;
flex-wrap: wrap;
column-gap:  30px;
row-gap: 30px;
}

.messanger {
    flex-grow: 1;
    padding: 46px 20px;
    border-radius: 20px;
    border: solid 1px #363636;
    color: #fff;
    display: flex;
    column-gap: 15px;
    align-items: center;
    font-size: 20px;
    transition: background-color 0.2s ease-in;
}
.icons {
    width: 48px;
    height: 48px;
}
.messanger:hover {
    background-color: #1E1E1E;
}
/* ===============FOOTER=================== */
.footer {
padding: 30px 0;
background-color: #1E1E1E;
color: #5D5D5D;

}
.footer a {
    color: #5886A8;

}
.footer-inner {
font-size: 14px;
text-align: center;
}
.footer-inner p + p {
    margin-top: 15px;

}
/* ============inner-page===================== */
.inner-page {
    padding: 80px 0 40px;
}
.inner-page-details {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    align-items: center;
    margin-bottom: 40px;
    text-align: center;
}
.inner-page-title {
    font-size: 52px;
    font-weight: 700;
}
.inner-page-text {
    max-width: 570px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    color: #555555;
    line-height: 1.5;
}
.inner-page-link {
    color: #000
    ;
}
.inner-page-link a {
    color: #000;
    text-decoration: underline;
}
.inner-page-img {
    display: block;
    margin: auto;
}
.inner-page-backlink {
    max-width: 770px;
    margin: 40px auto;
    padding: 30px;
    display: flex;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: #F1F1F1;
    text-align: center;
    color: #000;
    transition: all 0.2s ease-in;
}
.inner-page-backlink:hover {
    background-color: #c3c3c3;
}
/* ===========travel-page================= */

.travel-page {
    padding: 80px 0 40px;
}

.travel-page-details {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    align-items: center;
    margin-bottom: 40px;
    text-align: center;
}

.travel-page-title {
    font-size: 52px;
    font-weight: 700;
}

.travel-page-text {
    max-width: 570px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    color: #555555;
    line-height: 1.5;
}

.travel-page-link {
    color: #000;
}

.travel-page-link a {
    color: #000;
    text-decoration: underline;
}

.travel-page-img {
    display: block;
    margin: auto;
}

.travel-page-backlink {
    max-width: 770px;
    margin: 40px auto;
    padding: 30px;
    display: flex;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: #F1F1F1;
    text-align: center;
    color: #000;
    transition: all 0.2s ease-in;
}

.travel-page-backlink:hover {
    background-color: #c3c3c3;
}
/* ============LOFTHOUSE========== */
.lofthouse-page {
    padding: 80px 0 40px;
}

.lofthouse-page-details {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    align-items: center;
    margin-bottom: 40px;
    text-align: center;
}

.lofthouse-page-title {
    font-size: 52px;
    font-weight: 700;
}

.lofthouse-page-text {
    max-width: 570px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    color: #555555;
    line-height: 1.5;
}

.lofthouse-page-link {
    color: #000;
}

.lofthouse-page-link a {
    color: #000;
    text-decoration: underline;
}

.lofthouse-page-img {
    display: block;
    margin: auto;
}

.lofthouse-page-backlink {
    max-width: 770px;
    margin: 40px auto;
    padding: 30px;
    display: flex;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: #F1F1F1;
    text-align: center;
    color: #000;
    transition: all 0.2s ease-in;
}

.lofthouse-page-backlink:hover {
    background-color: #c3c3c3;
}